ion-header {
    box-shadow: none;

    #click-trigger {
        --background: var(--ion-color-primary-contrast);
        --color: var(--ion-color-primary);
        --box-shadow: none;
        padding: 0;
        margin: 0;
    }
}

.mid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    ion-toggle {
        --track-background: var(--ion-color-dark);
        --track-background-checked: var(--ion-color-light);
        --handle-background: var(--ion-color-light);
        --handle-background-checked: var(--ion-color-dark);
    }

    .toggle-mode {
        width: 100%;
        max-width: 200px;
        font-size: 1.2rem;
        background-color: rgba(255, 255, 255, 0);
        backdrop-filter: blur(8px);
        border-radius: 5px;
    }
}