ion-header {
    box-shadow: none;

    ion-toolbar {
        --background: none;
    }
}

ion-toolbar {
    --background: none;
}

ion-list {
    background: none;
    margin: 5% 10% 5% 10%;

    ion-item {
        --background: none;
        ion-range {
            --bar-background-active: var(--ion-color-danger);
            --knob-background: var(--ion-color-medium); //cor da bolinha
        }
    }
}