<ion-content [fullscreen]="true" color="dark">
  <!-- <div class="ion-text-center">
    <ion-button routerLink="/screen">jogar</ion-button><br>
    <ion-button>sair</ion-button>
  </div> -->

  <div class="ion-text-center blur-container">
    <!-- <p class="blur-button" routerLink="/screen">はじめから</p> -->
    <p fill="clear" class="blur-button" routerLink="/screen">はじめから</p><br>
    <p fill="clear" class="blur-button" >つづきから</p><br>
    <p fill="clear" class="blur-button" routerLink="/settings">オプション</p><br>
    <!-- <ion-button class="blur-button">つづきから</ion-button><br>
    <ion-button class="blur-button">オプション</ion-button> -->
  </div>
</ion-content>