ion-card {

    .minus {
        margin-right: 10px;
        position: absolute;
        right: 0;
    }

    h5 {
        margin: 0;
        padding: 10px 20px 5px 20px;
    }

    p {
        margin: 5px;
    }

    ion-icon {
        font-size: 16px;

    }

    ion-label {
        margin: 5px;
    }

}

ion-button {
    --border-radius: 100%;

    ion-icon {
        font-size: 32px;

    }
}




.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}