<div *ngIf="!showFullText; else fullText" >
    <ion-card [color]=color *ngIf="dialogue.options.length">
        <ion-card-subtitle class="ion-text-right minus">
            <ion-icon  size="large" name="remove" (click)="showFullText = true"></ion-icon>
        </ion-card-subtitle>
        <h5>{{ dialogue.text }}</h5>
        <ion-item [color]=color *ngFor=" let option of dialogue.options" (click)="chooseOption(option)">
            <ion-icon size="default" name="caret-forward-outline"></ion-icon>
            <ion-label>
                <p>{{option.text}}</p>
            </ion-label>
        </ion-item>
    </ion-card>
</div>



<ng-template #fullText>
    <ion-button (click)="showFullText = false">
        <ion-icon class="ion-padding" slot="icon-only" name="open"></ion-icon>
    </ion-button>
</ng-template>