
<div class="darker"></div>


<div *ngIf="!showFullText; else fullText">
    <ion-card [color]=color *ngIf="dialogue.options.length">
        <ion-card-subtitle class="ion-text-right minus">
            <ion-icon size="large" name="resize" (click)="showFullText = true"></ion-icon>
        </ion-card-subtitle>
        <h5>{{ dialogue.text }}</h5>
        <ion-item [color]=color *ngFor=" let option of dialogue.options" (click)="chooseOption(option)">
            <ion-icon size="default" name="caret-forward-outline"></ion-icon>
            <ion-label>
                {{option.text}}
            </ion-label>
        </ion-item>
    </ion-card>
</div>

<ng-template #fullText>

    <div class="fullText">
        <ion-fab slot="fixed" vertical="bottom" horizontal="start">
            <ion-fab-button>
                <ion-icon name="caret-forward"></ion-icon>
            </ion-fab-button>
            <ion-fab-list side="end">
                <ion-fab-button (click)="showFullText = false">
                    <ion-icon color="danger" name="chatbubble-ellipses"></ion-icon>
                </ion-fab-button>
                <ion-fab-button (click)="redirect()">
                    <ion-icon color="danger" name="home"></ion-icon>
                </ion-fab-button>
                <ion-fab-button>
                    <ion-icon color="danger" name="save"></ion-icon>
                </ion-fab-button>
            </ion-fab-list>
        </ion-fab>
    </div>

</ng-template>