/* *{
    border: red 1px solid;
} */

ion-card{
    *{
        border: red 1px solid;
    }
    
    h5{
        margin: 0;
        padding: 0 20px 5px 20px;
    }

    p{
        margin: 5px;
    }
    ion-icon{
        font-size: 24px;
        
    }

}


ion-card{

    ion-label{
        margin: 5px;
    }
    ion-icon{
        font-size: 16px;
        
    }

}