/* *{
    border: red 1px solid;
} */

ion-card{

    p{
        margin: 5px;
    }
    ion-icon{
        font-size: 24px;
        
    }

}


ion-card{

    ion-label{
        margin: 5px;
    }
    ion-icon{
        font-size: 16px;
        
    }

}